@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-family: Poppins;
}

* {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: #101010;
}
.header_logo {
  width: 30%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_items {
  width: 70%;
  color: white;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3%;
}

a {
  text-decoration: none;
  color: black;
}
.home_text a {
  padding-left: 10px;
}

.header_items a {
  color: white;
  margin: 10px;
}
a:hover {
  color: orangered;
}
/* ------------Home-------------*/

.home_conteiner {
  width: 100%;
}

h1 {
  font-size: 70px;
}
.home_colonne {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home_text a {
  color: black;
  align-items: flex-start;
}
.home_text a:hover {
  color: orangered;
}
.home_text h3 {
  padding-left: 10px;
}

.home_img {
  width: 40%;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}

.home_img .img_box img {
  border-radius: 40%;
}

h2 {
  font-size: xx-large;

  text-align: center;
}

.section_card {
  background: url(/Immagini/Orange.jpg) no-repeat left;
  background-size: 50%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px;
  font-size: 13px;
}
.section_card2 {
  background: url(/Immagini/grey.png) no-repeat right;
  background-size: 50%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px;
  font-size: 13px;
}

.section_card a {
  color: black;
  font-style: oblique;
}
.section_card2 a {
  color: black;
  font-style: oblique;
}
.section_card a:hover {
  color: orangered;
}
.section_card2 a:hover {
  color: orangered;
}
.inner-container {
  width: 55%;
  float: right;
  background-color: #fdfdfd;

  padding-left: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.inner-container h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 900;
}

.inner-container2 {
  width: 55%;
  float: left;
  background-color: white;

  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.inner-container2 h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 900;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
  .box {
    margin: 50px;
  }

  .cornice {
    height: max-content;
  }

  @media screen and (max-width: 1000px) {
    .section_card {
      background-size: 100%;
      padding-left: 200px;
    }
    .inner-container {
      width: 100%;
    }

    .section_card2 {
      background-size: 100%;
      padding-right: 200px;
    }
    .inner-container2 {
      width: 100%;
      padding-left: 20px;
    }
    .box_conteiner {
      padding: 60px;
    }
    .box {
      margin: 50px;
    }
    .cornice {
      height: max-content;
    }
  }
}

@media screen and (max-width: 600px) {
  .section_card {
    padding: 0;
    padding-left: 200px;
  }
  .inner-container {
    padding: 60px;
  }
  .section_card2 {
    padding: 0;
    padding-right: 200px;
  }
  .inner-container2 {
    padding: 60px;
  }
}

.box_conteiner {
  width: 110opx;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 60px;
  margin-bottom: 100px;
}

.box {
  position: relative;
  width: 320px;
  background-color: grey;
  padding: 100px 40px 60px;
  box-shadow: 0 15px 45px rgb(0, 0, 0, 0.3);
}

.box:hover {
  background-color: #ff5e00;
}

.box a {
  color: black;
}
.box a:hover {
  color: white;
}

.cornice {
  background-color: rgb(185, 185, 185);
  margin: 80px;
  margin-top: 40px;
  display: flex;
}
.cornice_text {
  margin: 40px;
}
.anno {
  font-size: 40px;
}
.text {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 50px;
}
.text2 {
  font-size: 15px;
  margin-left: 60px;
}
.text3 {
  padding-top: 3%;
}

/* ------------Footer-------------*/
.footer {
  width: 100%;
  margin: 0;
  padding: 70px 0;

  background-color: #24262b;
}

.footer_conteiner {
  max-width: 1170px;
  padding-left: 10%;
}

.footer_colonne {
  display: flex;
  flex-wrap: wrap;
}

colonna ul {
  list-style: none;
}

.colonna h4 {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.colonna {
  width: 25%;

  color: white;
}
.colonna a {
  color: white;
  margin: 10px;
}
.colonna a:hover {
  color: orangered;
}

/*responsive*/
@media (max-width: 767px) {
  .colonna {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .colonna {
    width: 100%;
  }
}
